<div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
    <div class="logo">
        <i class="fa-solid fa-shield-virus"></i><span> Vaccine System</span>
    </div>
    <div class="navi">
        <ul class="navi__menu">
            <li class="active"><a href="#"><i class="fas fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
            <li><a href="#" data-toggle="modal" data-target="#add_project"><i class="fa fa-tasks" aria-hidden="true" data-target="#add_project"></i><span class="hidden-xs hidden-sm">Vaccine Passport</span></a></li>
            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Vaccinate Status</span></a></li>
        </ul>
        <li class="navi__logout"><a href="#"><i class="fa-solid fa-right-from-bracket"></i><span class="hidden-xs hidden-sm">Log Out</span></a></li>
    </div>
</div>
