<div class="col-md-10 col-sm-11 display-table-cell v-align">
    <div class="row">
        <header>
            <div class="col-md-7">
                <nav class="navbar-default pull-left">
                    <div class="navbar-header">
                    </div>
                </nav>
            </div>
            <div class="col-md-5">
                <div class="header-rightside">
                    <ul class="list-inline header-top pull-right">
                        <li class="hidden-xs"><a class="add-project">Welcome to Vaccinate System Project of Team Lion</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section>
            Hello world
        </section>
        <footer>
            Copyright by Khoi and Khoa
        </footer>
    </div>
</div>