/*==========================NAVIGATOR==========================*/

/*Navigator logo*/
.logo {
    box-sizing: border-box;
    height: 10rem;
    margin-top: 2rem;
    text-align: center;
}

.logo i {
    color: #5584ff;
    font-size: 2rem;
}

.logo span {
    color:#f6f7fa;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 1rem;
}

#navigation {
    background: #0e1a35;
    padding: 0;
    height: 100%;
}

.navi {
    display: flex;
    flex-direction: column;
}



.navi a {
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}

.navi i {
    margin-right: 15px;
    color: #5584ff;
}

.navi ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navi__menu {
    margin-bottom: 70%;
}


.navi .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.navi a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
    text-decoration: none;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0e1a35;
}

.circle-logo {
    margin: 0 auto;
    max-width: 30px !important;
    text-align: center;
}
.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
